<h1 class="showheader"><%= @aquarium.title %></h1>
<div class="big col-md-6">
  <p><%= @aquarium.description %></p>

  <ul>
    <% @aquarium.fishes.each do |fish| %>
      <li>
        <%= link_to fish.name, fish_path(fish), :target => "_blank" %>
      </li>
    <% end %>
  </ul>
</div>