<div class="container-fluid">
<br>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Aquarium Planner</h1>
    <p class="lead">Plan your perfect aquarium and keep your fish from eating each other!</p>
    <p><%= link_to "Get Started!", new_aquarium_path, class: 'btn btn-lg btn-success' %></p>
  </div>

    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Austen Weinhart 2015</p>
      </footer>

</div>
