<div class="container-fluid">

  <div class="masthead">
      <h3 class="text-muted">Aquarium Planner</h3>    
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Aquarium Planner</h1>
    <p class="lead">Plan your aquarium and keep your fish from eating each other!</p>
    <p><%= link_to "Get Started!", new_aquarium_path, class: 'btn btn-lg btn-success' %></p>
  </div>

  <!-- Example row of columns -->
    <div class="row">

        <div class="col-lg-4 box">

          <h2>Plan Your Perfect Aquarium</h2>
          <p>Disrupt drinking vinegar sartorial cold-pressed, street art Odd Future banh mi McSweeney's swag crucifix. Polaroid master cleanse literally twee, butcher PBR next level flannel narwhal yr Wes Anderson you probably haven't heard of them normcore four dollar toast pop-up.</p>
          <p><%= link_to "Get Started", '#', class: "btn btn-primary" %></p>
        </div>



        <div class="col-lg-4 box">
          <h2>About</h2>
          <p>Aesthetic mumblecore small batch, sartorial semiotics readymade 8-bit Shoreditch Bushwick chia Blue Bottle. Try-hard pork belly skateboard, meditation wayfarers you probably haven't heard of them 8-bit trust fund DIY swag flannel Neutra small batch. Lo-fi squid distillery paleo.</p>
          <p><%= link_to "Read More", '#', class: "btn btn-primary" %></p>
       </div>


        <div class="col-lg-4 box">
          <h2>Contact Us</h2>
          <p>Schlitz umami flannel lumbersexual viral YOLO. Direct trade bicycle rights McSweeney's VHS Portland pop-up. Brooklyn chambray crucifix swag, PBR&B irony chia Banksy hoodie. Cray whatever bespoke wolf, selvage pickled Intelligentsia PBR Thundercats fap cronut."</p>
          <p><%= link_to "Contact Us", '#', class: "btn btn-primary" %></p>
        </div>


    </div>

    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Austen Weinhart 2015</p>
      </footer>

</div>
