/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$turquoise: #C5EFF7;

body {
  background-color: $turquoise;
  background-image: url("https://dl-web.dropbox.com/get/wdi/aquarium_planner/app/assets/images/water-texture.jpg?_subject_uid=398725007&w=AADqfCplRf7ZparlM1cXIGfny8oAcByidIdgO-8xya5uUw");
  background-attachment: fixed;
}

nav {
  background: rgba(0,0,0,0.5);
  padding: 10px 10px 10px 20px;
}

ul {
  list-style-type: none;
}

.big {
  background: white;
  background: rgba(255, 255, 255, 0.75);
  /* border: 1px solid black; */
  margin: 20px 20px 10px 20px;
}

.label_box {
  display: block;
}

.jumbotron {
  background-image: url("https://dl-web.dropbox.com/get/wdi/aquarium_planner/app/assets/images/pufferfish.jpg?_subject_uid=398725007&w=AADuNzr0478bJ6qUl2RTjTuOZdcHw-aDVbdcOT_X63pWxg");
  background-size: cover;
  border: 10px solid white;


  .lead {
    color: white;
  }

  h1 {
    color: white;
  }
}