<h1 id="species"><%= @fish.name %></h1> 

<div id="wiki" class="col-sm-7 box">
  <!-- Fish Wikipedia Profile -->
  <%= @fish_page.html_safe %> 
</div>

<div id="compatability" class="col-sm-4 box">
  <h2>Compatible Species</h2>
  <h4>Y = Compatible</h4>
  <h4>N = Not Compatible</h4>
  <h4>C = Caution Required</h4>
  <table class="table">
    <tr>
      <th>Species</th>
      <th>Compatability</th>
    </tr>
      <% @fish.attributes.each do |species, compatability| %>
        <tr>
          <td><%= species.titleize %></td>
          <td><%= compatability %></td>
        </tr>
      <% end %>
  </table>
</div>
